@media only screen and (max-width: 768px) {
  .container {
    width: 100% !important;
    max-width: 100% !important;
    padding-right: 25px !important;
    padding-left: 25px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}